* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: clip;
}

body {
  font-family: "Roboto", sans-serif;
  accent-color: $main_color;
  #main-wrapper {
    position: relative;
  }
}

#main-wrapper {
  .container {
    max-width: 1354px;
  }
}

@media (max-width: 1576px) {
  body {
    #main-wrapper {
      &.opened-menu::after {
        left: -50vw;
      }
    }
  }
}

@media (max-width: 991px) {
  body {
    #main-wrapper {
      &.opened-menu::after {
        display: none;
      }
    }
  }
  /* For Webkit browsers (Chrome, Safari) */
  ::-webkit-scrollbar-thumb {
    background-color: $main_color;
    width: 3px;
    height: 3px;
  }

  /* For Firefox */
  ::-moz-scrollbar-thumb {
    background-color: $main_color;
    width: 3px;
    height: 3px;
  }

  /* For Internet Explorer and Edge */
  ::-ms-thumb {
    background-color: $main_color;
    width: 3px;
    height: 3px;
  }

  /* For standard scrollbars (if supported) */
  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
}
