#main-wrapper:has(.category-wrapper) {
  background-color: $light_grey;
  #our_brands {
    position: relative;
    background-color: $white;
    .section-title {
      z-index: 1;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: -100%;
      width: 300%;
      height: 100%;
      background-color: $white;
      z-index: 0;
    }
  }
}

.category-filters-main {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: flex-start;
  align-items: flex-start;

  &__slot {
    flex: 0 0 calc((100% - 3 * 12px) / 4);
    height: 397px;
    box-shadow: 0px 3.51px 16.42px 0px #00000026;
    @media (max-width: 1160px) {
      flex: 0 0 calc((100% - 2 * 12px) / 3);
    }
    @media (max-width: 860px) {
      height: 420px;
      flex: 0 0 calc((100% - 1 * 12px) / 2);
    }
    @media (max-width: 680px) {
      flex: 0 0 100%;
    }
    @media (min-width: 1280px) {
      width: 301.25px;
      min-width: 301.25px;
    }
  }
}
