#our_products_container {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 150px;
    left: -50vw;
    width: 200vw;
    height: 100%;
    background-color: $light_grey;
    z-index: -1;
  }
}

.swiper_products_block_box,
.category-filters-main__slot {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 25.8px 0px #0000000d;
  border-right: 0;
  background-color: $white;
  height: 367px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  &:hover {
    transform: translateY(-5px);
    .products-buy-button {
      display: flex;
    }
  }
  .product-label-box {
    position: absolute;
    top: 10px;
    left: 0;
    display: inline-flex;
    flex-wrap: wrap;
    z-index: 1;
    .product-label {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      height: 23px;
      margin-right: 5px;
      margin-bottom: 5px;
      padding: 5px 23px;
      p {
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;
        color: $white;
        margin: 0;
        text-align: center;
      }
    }
  }
  &__top {
    .products-image {
      display: flex;
      height: 200px;
      width: 200px;
      margin: 8px auto;
      img {
        height: 200px;
        width: 100%;
        max-width: 200px;
        object-fit: contain;
      }
    }
    .products-title {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-align: center;
      height: 38px;
      width: 100%;
      margin: 0 0 6px 0;
      h3 {
        font-weight: 400;
        font-size: 14px;
        line-height: 156%;
        color: $black;
        width: 94%;
        text-align: center;
        margin: 0 auto;
        a {
          font-weight: 400;
          font-size: 14px;
          line-height: 156%;
          color: $black;
          width: 98%;
          text-align: center;
          margin: 0 auto;
          text-decoration: none;
        }
      }
    }
    .products-code {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-align: center;
      height: 16px;
      font-weight: 400;
      font-size: 10px;
      line-height: 156%;
      text-align: center;
      margin: 4px 0 0 0;
      color: $grey18;
    }
    .catalog-price,
    .your-price {
      p {
        font-size: 18px;
        font-weight: 700;
        line-height: 156%;
        color: $black;
        margin: 0;
        span {
          font-size: 18px;
        }
      }
    }
  }
  &__bottom {
    position: relative;
    width: 100%;
    .color-squares {
      position: relative;
      left: 20px;
      bottom: 16px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 8px;
      margin-right: 80px;
      max-width: 100%;
      .color-square {
        width: 12px;
        height: 12px;
        min-width: 12px;
        min-height: 12px;
        border: 1px solid $grey20;
      }
    }
    .products-buy-button {
      display: none;
      position: absolute;
      bottom: 0;
      right: 0;
      justify-content: center;
      align-items: center;
      padding: 9px 22px;
      width: 70px;
      height: 43px;
      text-decoration: none;
      background-color: $black;
      &:hover {
        border: 1px solid $main_color;
        background-color: $main_color;
        span {
          color: $white;
        }
        img {
          filter: invert(1) brightness(2);
        }
      }
      img {
        width: 26px;
        height: 26px;
        min-width: 26px;
      }
    }
    .promo-price {
      p {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%;
        color: $text_color;
        span {
          font-size: 24px;
          color: $promo_price;
        }
      }
    }
  }
}

.swiper-slide:last-of-type .swiper_products_block_box {
  border-right: 1px solid $border_grey;
}

@media (max-width: 1380px) {
  .swiper_products_block_box,
  .category-filters-main__slot {
    &__top {
      .catalog-price {
        p {
          font-size: 15px;
          line-height: 140%;
          span {
            font-size: 15px;
          }
        }
      }
      .your-price,
      .promo-price {
        p {
          font-size: 15px;
          line-height: 140%;
          margin: 0 0 24px 0;
          span {
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .swiper_products_block_box,
  .category-filters-main__slot {
    border: 0;
    &__top {
      .products-image {
        margin: 40px auto 40px;
      }
    }
  }
}
