.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 789px;
  padding: 0 16px;
  h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 103%;
    text-align: center;
    color: $black;
    margin: 0 0 16px 0;
  }
  small {
    font-weight: 400;
    font-size: 14px;
    line-height: 156%;
    text-align: center;
    color: $black;
    margin: 0 0 8px 0;
  }
}

@media (max-width: 991px) {
  .section-title {
    h2 {
      font-size: 22px;
    }
    small {
      font-size: 13px;
    }
  }
}
