header {
  height: 179px;
  border-bottom: 1px solid $grey;
  .navbar {
    @media (max-width: 1640px) {
      max-width: 100%;
      .navbar-bottom {
        justify-content: flex-start;
        gap: 16px;
        .nav-link {
          font-size: 14px !important;
        }
      }
    }
    @media (max-width: 1366px) {
      max-width: 100%;
      .navbar-bottom {
        left: 40px;
      }
    }
    @media (max-width: 1200px) {
      .navbar-bottom {
        left: 16px;
      }
    }
    @media (max-width: 991px) {
      .navbar-top {
        align-items: flex-start !important;
      }
      .navbar-bottom {
        gap: 0;
      }
    }
  }
}

nav {
  .dropdown-item:focus,
  .dropdown-item:hover {
    color: $main_color;
    background-color: unset;
  }

  .navbar-toggler:focus {
    box-shadow: unset !important;
  }

  .navbar-top {
    padding-left: 124px;
    padding-right: 124px;
    border-bottom: 1px solid $grey19;
    @media (max-width: 1366px) {
      padding-left: 40px;
      padding-right: 40px;
    }
    @media (max-width: 1200px) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  .navbar-bottom {
    .nav-item {
      .nav-link {
        font-weight: 500;
        font-size: 12px;
        line-height: 103%;
        color: $black;
      }
    }
    .dropdown-menu {
      .dropdown-row {
        display: flex;
        flex-direction: row;
        gap: 70px;
        @media (max-width: 991px) {
          flex-direction: column;
          gap: 0;
        }
      }
      &.show {
        .nav-item {
          margin: 16px 0;
          .nav-link {
            font-weight: 400 !important;
            padding: 0 !important;
            color: $grey18;
            &.nav-link-title {
              color: $black;
              font-weight: 700 !important;
            }
          }
        }
      }
    }
  }

  .navbar-brand {
    margin-right: 16px;
    img {
      font-size: 12px;
    }
  }
  .container-fluid {
    padding: 0 !important;
  }
  #nav-searchbar-mobile {
    display: none;
  }
  #nav-searchbar-desktop {
    display: flex;
  }
  #nav-searchbar-desktop,
  #nav-searchbar-mobile {
    position: relative;
    input {
      all: unset;
      width: 344px;
      height: 40px;
      background-color: $white;
      padding: 0 40px 0 0;
      font-size: 13px;
      font-weight: 400;
      line-height: 14.4px;
      color: $grey18;
      border-bottom: 1px solid $black;
      &:focus {
        outline: none;
        border-bottom: 1px solid $main_color;
      }
      &::placeholder {
        font-size: 13px;
        font-weight: 400;
        line-height: 14.4px;
        color: $grey18;
      }
    }
    button {
      all: unset;
      position: absolute;
      top: calc(50% - 9px);
      right: 12px;
      content: "";
      display: block;
      background: url("./../assets/icons/common/header/magnifier.svg");
      width: 18px;
      height: 18px;
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
      font-size: 16px;
      font-weight: 400;
      line-height: 14.4px;
      color: $grey13;
      background-position-x: 48px;
      padding-right: 48px;
      &:hover {
        color: $main_color;
      }
    }
  }

  .nav-top-links-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    .nav-top-links {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 24px;
      padding-right: 32px;
      .nav-top-link {
        font-weight: 400;
        font-size: 13px;
        line-height: 103%;
        text-align: center;
        color: $black;
        text-decoration: none;
        &:hover {
          color: $main_color;
        }
      }
    }
    .nav-top-btns {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      border-left: 1px solid $black;
      padding-left: 32px;
      gap: 32px;
      .nav-top-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        gap: 8px;
        &:hover {
          .btn-icon {
            filter: invert(68%) sepia(30%) saturate(6546%) hue-rotate(307deg)
              brightness(100%) contrast(87%);
          }
          .btn-label,
          .btn-quantity {
            color: $main_color !important;
          }
        }
        .btn-img-box {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 5px;
          .btn-icon {
            object-fit: contain;
          }
          .btn-quantity {
            font-weight: 600;
            font-size: 14px;
            line-height: 103%;
            text-align: center;
            color: $black;
            @media (max-width: 991px) {
              font-size: 12px;
            }
          }
        }
        .btn-label {
          font-weight: 500;
          font-size: 10px;
          line-height: 103%;
          text-align: center;
          color: $black;
        }
      }
    }
  }

  .dropend {
    position: static;
  }
  .navbar-bottom {
    .nav-link {
      font-weight: 500;
    }
    .nav-link.dropdown-toggle {
      position: relative;
      &::after {
        border: 0;
        position: absolute;
        content: "";
        top: 22px;
        right: -14px;
        display: block;
        background: url("./../assets/icons/common/header/menu-arrow-down.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 14px;
        height: 14px;
        @media (max-width: 991px) {
          top: 13px;
        }
      }
    }
    .nav-link.dropdown-toggle.show {
      color: $main_color;
    }
    .main-nav-item {
      > a {
        &:hover {
          color: $main_color;
        }
      }
      &:first-of-type {
        > a {
          padding-left: 0;
        }
      }
      &:last-of-type {
        > a {
          padding-right: 0;
        }
      }
    }
    .main-nav-item > a {
      font-weight: 700;
      font-size: 20px;
      line-height: 35.4px;
      letter-spacing: 0%;
      color: $text_color;
      &.show {
        &::after {
          transition: 0.6s;
          transform: rotate(180deg);
          top: 17px;
          @media (max-width: 991px) {
            top: 9px;
          }
        }
      }
    }
  }
}

@media (max-width: 1576px) {
  nav {
    #nav-searchbar-mobile {
      display: none;
    }
    #nav-searchbar-desktop {
      input {
        width: 300px;
      }
    }
  }
}

@media (min-width: 992px) {
  nav {
    height: 179px;
    .navbar-brand-mobile {
      display: none;
    }
    .navbar-first-row {
      height: 107px;
    }
    .navbar-top {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      height: 107px;
    }
    .navbar-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      top: 52px;
      left: 124px;
      height: 72px;
      gap: 54px;
      .main-nav-item {
        position: static;
        height: 72px;
        .nav-link {
          width: 100%;
          height: 100%;
          padding: 32px 0px;
          font-weight: 500;
          font-size: 12px;
          line-height: 103%;
          color: $black;
        }
      }
      .dropdown-menu {
        position: relative;
        width: 100%;
        max-width: 1238px;
        top: 98%;
        &::before {
          position: absolute;
          top: 4px;
          right: 66px;
          content: "";
          display: block;
          width: 48px;
          height: 15px;
          background: url("./../assets/icons/common/bold-pink-lines.svg")
            no-repeat;
          background-size: contain;
        }
        .nav-item {
          width: 100%;
          margin: 32px 0;
          .nav-link {
            width: 100%;
            height: 100%;
            padding: 4px 32px;
            white-space: pre;
            &:hover {
              color: $main_color;
            }
          }
        }
      }
    }
    .dropend .dropdown-menu[data-bs-popper] {
      top: -1px !important;
    }

    .dropdown-menu {
      margin: 0 !important;
      border-radius: 0 !important;
      --bs-dropdown-spacer: 0 !important;
      --bs-dropdown-padding-y: 0 !important;
      min-height: 255px;
      padding: 46px 128px;
      background-color: $white;
      border: 0;
      box-shadow: 0px 14px 27.7px 0px #0000000d;
      border-radius: 0;
      li {
        margin-left: -39px;
        margin-right: -39px;
        margin-bottom: 6px;
        a {
          font-family: "Roboto", serif;
          padding-left: 39px;
          padding-right: 39px;
        }
      }
      &.second-lvl-menu {
        padding: 21px 60px 21px 0;
        background-color: $white;
        &.show {
          display: flex;
          .list-unstyled {
            padding-left: 64px;
            li {
              min-height: 42px;
              a {
                &:hover {
                  background-color: unset;
                }
                img {
                  margin-right: 18px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  header {
    height: 116px;
  }
  nav {
    height: auto;
    padding-bottom: 0 !important;
    padding-top: 4px !important;
    .navbar-top {
      padding: 0;
      .nav-top-links-btns {
        flex-direction: column;
        align-items: flex-start;
        .nav-top-links {
          height: 40px;
          gap: 16px;
          .nav-top-link {
            white-space: pre;
          }
        }
        .nav-top-btns {
          border: 0;
          padding: 8px 0;
          .btn-icon {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
    #nav-searchbar-mobile {
      position: relative;
      display: flex;
      margin: 0 0 12px 0;
      padding: 0 16px;
      width: 100%;
      input {
        width: 100%;
        height: 40px;
        padding: 0 60px 0 16px;
        margin: 0 !important;
        font-size: 14px;
        &::placeholder {
          font-size: 14px;
        }
      }
      button {
        font-size: 0;
        right: 16px;
        padding-right: 16px;
        background-position-x: unset;
      }
    }
    .navbar-menu {
      background-color: $white;
      z-index: 15;
      #nav-searchbar-desktop {
        display: none;
      }
      .navbar-bottom .main-nav-item > a {
        font-size: 14px;
        font-weight: 400;
        width: calc(100% - 16px);
        line-height: 1.1;
      }
      .dropdown-menu {
        .nav-link {
          padding: 4px 8px;
          font-size: 14px;
        }
      }
    }
    .container-fluid {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
      &:has(.navbar-collapse.show) {
        border-bottom: 1px solid $main_color;
      }
    }
    .navbar-brand {
      img {
        margin-left: 0;
        height: 48px;
        width: auto;
      }
    }
    .navbar-brand-desktop {
      display: none;
    }

    .navbar-bottom {
      align-items: flex-start !important;
      .main-nav-item {
        width: 100%;
        .dropdown-toggle,
        > a {
          font-size: 16px;
        }
        .dropdown-item {
          font-size: 14px;
        }
        .dropdown-menu {
          border: 0;
          border-radius: 0;
          &.show {
            border-top: 1px solid $main_color;
            border-bottom: 1px solid $main_color;
            .dropdown-menu {
              &.show {
                background-color: $white;
              }
            }
          }
          &.second-lvl-menu {
            &.show {
              .list-unstyled {
                li {
                  a {
                    &:hover {
                      background-color: unset;
                    }
                    img {
                      width: 25px;
                      height: 25px;
                      margin-right: 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1000px) and (max-width: 1360px) {
  nav .navbar-bottom .nav-link.dropdown-toggle,
  .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 17px;
  }
}
