.pagination {
  width: 100%;
  padding-bottom: 59px;
  margin-top: 40px;
  @media (max-width: 991px) {
    margin-top: 24px;
    padding-bottom: 24px;
  }
  &_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .dots {
      margin: 24px 13px 0 0;
    }
    .element {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border: 1px solid $light_grey2;
      background-color: $white;
      margin-right: 13px;
      cursor: pointer;
      box-sizing: border-box;
      text-decoration: none;
      p {
        font-size: 13px;
        font-weight: 400;
        line-height: normal;
        color: $text_color;
        text-decoration: none;
        margin: 0;
      }
      &.active,
      &:hover {
        background-color: $main_color;
        border-color: $main_color;
        p {
          color: $white;
        }
        img {
          filter: invert(1) brightness(2);
        }
      }
      &.last {
        img {
          width: 30px;
          height: 30px;
          &:hover {
            border: 1px solid $main_color;
          }
        }
      }
    }
  }
}
